In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [21]:
df = pd.read_csv(
    '/content/netflix_titles.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [23]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [25]:
df['title']

0                                            3%
1                                          7:19
2                                         23:59
3                                             9
4                                            21
                         ...
7782                                       Zozo
7783                                     Zubaan
7784                          Zulu Man in Japan
7785                      Zumbo's Just Desserts
7786    ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS
Name: title, Length: 7787, dtype: object

# New Section

In [26]:
df.loc[24]

show_id                                                       s25
type                                                      TV Show
title                         ​SAINT SEIYA: Knights of the Zodiac
director                                                      NaN
cast            Bryson Baugus, Emily Neves, Blake Shepard, Pat...
country                                                     Japan
date_added                                       January 23, 2020
release_year                                                 2020
rating                                                      TV-14
duration                                                2 Seasons
listed_in                    Anime Series, International TV Shows
description     Seiya and the Knights of the Zodiac rise again...
Name: 24, dtype: object

In [27]:
df.iloc[24]

show_id                                                       s25
type                                                      TV Show
title                         ​SAINT SEIYA: Knights of the Zodiac
director                                                      NaN
cast            Bryson Baugus, Emily Neves, Blake Shepard, Pat...
country                                                     Japan
date_added                                       January 23, 2020
release_year                                                 2020
rating                                                      TV-14
duration                                                2 Seasons
listed_in                    Anime Series, International TV Shows
description     Seiya and the Knights of the Zodiac rise again...
Name: 24, dtype: object